<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>socket io | <%= room %>
    </title>
    <script>
        const roomName = "<%= room %>";
    </script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="chat.css">
    <script src="http://localhost:3000/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>
</head>

<body>

    <div id="dashboard">
        <!-- <h1>dashboard</h1> -->
    </div>
    <div class="chat-window">
        <header class="chat-header">header</header>
        <main id="chat-history"></main>
        <footer class="chat-footer">
            <form id="message-form" action="">
                <input autocomplete="off" type="text" id="message-input" placeholder="Enter message" />
                <button type="submit" id="send-message-button">Send</button>
            </form>
        </footer>
    </div>

</body>

</html>