<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="http://localhost:3000/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>
</head>

<body>

    <div id="rooms-list">
        <% Object.keys(rooms).forEach(room=> { %>
            <div id="<%= room %>">
                <%= room %>
                <a href="/<%= room %>">join</a>
            </div>
            <% }); %>
    </div>

    <form action="/room" method="POST">
        <input type="text" name="room" required>
        <button type="submit">Create room</button>
    </form>

</body>

</html>