html {
  scroll-behavior: smooth;
}

:root {
  --nav-height: 4rem;
  --form-height: 2rem;
  --form-margin-bottom: 1rem;
}

@media (min-width: 768px) {
  :root {
    --breadcrumb-divider: "";
  }
  .w-widescreen-25 {
    width: 25%;
    padding-inline: 0;
  }
  .w-widescreen-85 {
    width: 85%;
  }
}

@media (max-width: 768px) {
  :root {
    --breadcrumb-divider: "|";
  }

  .widescreen-offcanvas-header {
    display: none;
  }
  .mobile-fixed-top {
    position: fixed;
    top: 0;
    width: 100% !important;
    height: var(--nav-height);
  }

  .mobile-fixed {
    position: fixed !important;
    bottom: var(--form-margin-bottom);
    width: 100% !important;
    padding: 0 0.5rem;
    height: var(--form-height);
  }

  .mobile-chat-history {
    margin-bottom: calc(var(--form-height) + var(--form-margin-bottom));
    margin-top: var(--nav-height);
    height: calc(100vh - (var(--nav-height) + var(--form-height)));
  }
}

.received,
.sent {
  max-width: 70%;
  height: auto;
  word-break: break-word;
}
