html {
  scroll-behavior: smooth;
}

:root {
  --nav-height: 3.5rem;
}

@media (min-width: 768px) {
  :root {
    --breadcrumb-divider: "";
  }
  .w-widescreen-25 {
    width: 25%;
    padding-inline: 0;
  }
  .w-widescreen-85 {
    width: 85%;
  }
}

@media (max-width: 768px) {
  :root {
    --breadcrumb-divider: "|";
  }

  .widescreen-offcanvas-header {
    display: none;
  }
  .mobile-fixed-top {
    position: fixed;
    top: 0;
    width: 100% !important;
  }

  .mobile-fixed {
    position: fixed !important;
    bottom: 10px;
    width: 100% !important;
    padding: 0 0.5rem;
  }

  .mobile-chat-history {
    margin-bottom: 2.5rem;
    margin-top: var(--nav-height);
  }
}

.received,
.sent {
  max-width: 70%;
  height: auto;
  word-break: break-word;
}
