
html {
  scroll-behavior: smooth;
}

@media (min-width: 768px) {
  :root {
    --breadcrumb-divider: "";
  }

  .w-widescreen-25 {
    width: 25%;
    /* max-width: 25%; */
    padding-inline: 0;
  }

  .w-widescreen-85 {
    width: 85%;
  }
}

@media (max-width: 768px) {
  :root {
    --breadcrumb-divider: "|";
  }

  .widescreen-offcanvas-header {
    display: none;
  }

  .mobile-fixed {
    position: fixed !important;
    bottom: 10px;
    width: 100% !important;
    padding: 0 0.5rem;
  }

  .mobile-chat-history {
    margin-bottom: 2rem;
  }
}

.received,
.sent {
  max-width: 70%;
  height: auto;
  word-break: break-word;
}
